body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container
{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    border: solid;
    flex-direction: row;
}


.button{

    margin-bottom: 20px;
    width: 80px;
    height: 40px;
    font-size: 15px;
}